main{
    width: 1024px;
    height: 600px;
    background-color:#F2F3F5;
}
.top{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.top > h2::after{
    content: "";
    margin-left: 47%;
    width: 60px;
    display: block;
    margin-top: 5px;
    border-bottom: 3px solid blue;
}
.top > span{
    margin: 10px;
}
.top > a {
    color: blue;
}
.image{
    padding-left: 75px;
    padding-top: 20px;
    flex-wrap:wrap-reverse;
    display: flex;
}
.image > img{
    margin: 15px;
}